.header {
    background-image: linear-gradient(0, #fe6232, #f53f2d);
    width: 100%;
    height: 12em;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white-color);  
}
.header__navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 9px;
}
.header__navbar-item {
    font-weight: 400;
    margin: 0 8px;
    position: relative;
}
.header__navbar-link {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    margin: 0 8px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.header__navbar-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086  ;
    height: 16px;
    right: -8px;
    top: 0;
}
.header__navbar-item-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.header__navbar-item-icon {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 2px;
    display: flex;
    align-items: center; 
}
.header__navbar-item--nopointer:hover {
    cursor: text;
    color: var(--white-color);
}
.header__qr {
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    top: 100%;
    left: 0%;
    margin-top: 14px;
    display: none;
}
.header__qr-link {
    display: flex;
    height: 18px;
    justify-content: space-between;
}
.header__qr-link::before {
    width: 110%;
    height: 20px;
    position: absolute;
    display: block;
    top: -16px;
    left: 0;
    content: "";
}
.header__navbar-item:hover .header__qr {
    display: block;
}
.header__qr:hover {
    display: block;
}
.header__qr-link:first-child {
    margin-left: 11px;
}
.header__qr-link:last-child {
    margin-right: -5px;
}
.header_noti {
    position: absolute;
    background-color: var(--white-color);
    flex-direction: column;
    right: 0;
    width: 300px;
    margin-top: 10px;
    display: none;
    border-radius: 2px;
}
.header_log-button {
    list-style: none;
    color: #333;
    text-decoration: none;
    width: 100%;
}
.header_noti-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}
.header_main {
    color: #333;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_log {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0;   
    background-color: whitesmoke;
}
.header_noti::before {
    width: 110%;
    height: 20px;
    position: absolute;
    display: block;
    top: -16px;
    left: 0;
    content: "";
}
.header__navbar-item:hover .header_noti 
 {
    display: flex;
}
.header_log-button:hover {
    color: #f53f2d;
}
.header_log:hover {
    opacity: 1.1;
}
.header_language {
    position: absolute;
    display: none;
    width: 190px;
    height: 70px;
    background-color: #fff;
    right: 0px;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    border-radius: 2px;
   
}
.header_language-button {
    list-style: none;
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    margin-left: 10px;
}
 .header_language-button:hover {
    color: #f53f2d;
}
.header__navbar-item:hover .header_language {
    display: flex;
}
.header_language::before {
    content: "";
    width: 100%;
    height: 20px;
    top: -10px;
    position: absolute;
}
.header__logo {
    display: flex;  
    width: 162px;
    height: 53px; 
    margin-left:10px;
    color: #fff;
}
.header__logo-p {
    font-size: 2.5rem;
    margin-left: 10px ;
}
.find{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__find {
    width: 840px;
    margin-left: 50px;
    
}
.header__cart {
    width: 138px;
    margin-top: 12px;
}
.header__logo-imgg {
    margin-left: 22px;
}
.header__find-top {
    width: 794px;
    height: 34px;
    border-radius: 3px;
    border: #fff;
    margin-top: 12px;
}
.header__find-bot {
    list-style: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 0px;
    margin-right: 10px;
}
.header__find-mid {
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding: 0px;
    align-items: center;
}
.footer {
    width: 100%;
    height: 62.5em;
}
